---
# Managed by Ansible
apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
metadata:
  name: k0s
spec:
  api:
    address: {{ ansible_default_ipv4.address }}
    port: 6443
    k0sApiPort: 9443
  network:
    provider: kuberouter
    podCIDR: 10.244.0.0/16
    serviceCIDR: 10.96.0.0/12
    clusterDomain: cluster.local
    kubeProxy:
      mode: iptables
  storage:
    type: etcd
    etcd:
      peerAddress: {{ ansible_default_ipv4.address }} 
  telemetry:
    enabled: false
